@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fulight;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 245px;
  .header--logo,
  .header--superbowl {
    display: flex;
    flex-direction: row;

    height: 245px;
    padding-top: 72px;

    align-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header--logo {
    padding-top: 80px;
    img {
      max-width: 100%;
    }
  }
}
nav {
  ul {
    @extend .clearfix;
    @extend .justify-child;
    li {
      display: inline-block;
    }
  }
  .headnav {
    font-size: 100%;
  }
}
.sidebar {
  padding-bottom: 15px;

  background-image: url('../img/bg/aside-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .widget {
    .widget--title {
      font-size: 24px;
      font-weight: $fmed;

      position: relative;

      margin-right: -15px;
      margin-bottom: 35px;
      margin-left: -15px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 70px;

      text-align: left;

      color: #ffffff;
      background-color: $gray-light;
      &:after,
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;

        background-repeat: no-repeat;
        background-position: center;

        @extend .dblock;
      }
      &:before {
        left: 50px;

        width: 4px;

        background-image: url(../img/bg/widget--title-before.png);
      }
      &:after {
        right: 0;

        width: 68px;

        background-color: $gray-dark;
        background-image: url(../img/bg/widget--title.png);
      }
    }
  }
  .widget--asidenav {
    font-size: 16px;

    margin-right: -15px;
    margin-bottom: 24px;
    margin-left: -15px;
    li {
      position: relative;

      transition: $base-transition;
      &:before {
        font-family: 'Linearicons';
        font-size: 24px;
        line-height: 1.4;

        position: absolute;
        top: 50%;
        left: 15px;

        width: 32px;
        height: 32px;
        margin-top: -16px;
        padding: 0;

        text-align: center;

        @extend .dblock;
      }
      &.ico-koran-254 {
        &:before {
          content: '\e712';
        }
      }
      &.ico-khadis-286 {
        &:before {
          content: '\e715';
        }
      }
      &.ico-namaz-252 {
        &:before {
          content: '\e722';
        }
      }
      &.ico-zakat-246 {
        &:before {
          content: '\e75e';
        }
      }
      &.ico-uraza-255 {
        &:before {
          content: '\e684';
        }
      }
      &.ico-kurban-249 {
        &:before {
          content: '\e81e';
        }
      }
      &.ico-khadj-260 {
        &:before {
          content: '\e875';
        }
      }
      &.ico-dua-245 {
        &:before {
          content: '\e8ca';
        }
      }
      &.ico-audio-241 {
        &:before {
          content: '\e6e7';
        }
      }
      &.ico-video-244 {
        &:before {
          content: '\e6ff';
        }
      }
      &.ico-fetvy-h259 {
        &:before {
          content: '\e6da';
        }
      }
      &.ico-muhammad-251 {
        &:before {
          content: '\e807';
        }
      }
      &.ico-mir-250 {
        &:before {
          content: '\e68c';
        }
      }
      &.ico-bogoslovie-242 {
        &:before {
          content: '\e884';
        }
      }
      &.ico-economica-261 {
        &:before {
          content: '\e7fb';
        }
      }
      &.ico-samorazvitie-256 {
        &:before {
          content: '\e876';
        }
      }
      &.ico-about-253 {
        &:before {
          content: '\e723';
        }
      }
      &.ico-book-248 {
        &:before {
          content: '\e714';
        }
      }
      &.ico-ahyrat-243 {
        &:before {
          content: '\e70b';
        }
      }
      &.ico-death-258 {
        &:before {
          content: '\e8a1';
        }
      }
      &.ico-isskusstvo-247 {
        &:before {
          content: '\e626';
        }
      }
      &.ico-sex-257 {
        &:before {
          content: '\e733';
        }
      }
      a {
        display: block;

        padding: 20px 35px 20px 60px;

        cursor: pointer;
        text-decoration: none;

        color: $gray-medium;
      }
      .sub-menu {
        position: absolute;
        z-index: 8;
        top: 0;
        right: -230px;

        display: none;

        width: 230px;

        background-image: url('../img/bg/aside-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, .75);
        li {
          position: relative;
          &:after {
            position: absolute;
            right: 15px;
            bottom: 0;
            left: 15px;

            height: 1px;

            background-color: $gray-light;

            @extend .dblock;
          }
          // &:first-child {
          //   border-left: 1px solid $gray-light;
          // }
          &:last-child {
            &:after {
              display: none;
            }
          }
          a {
            padding: 20px;
          }
        }
      }
      &:hover {
        background: #a7c1e6;
        box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, .75);
        .sub-menu {
          display: block;
          li {
            &:after {
              background-color: transparent;
            }
            a {
              padding: 20px;
            }
          }
        }
      }
    }
  }
  .btn-asidenav {
    font-size: 18px;
    font-weight: $fmed;

    display: block;

    width: 80%;
    margin: 0 auto 20px;
    padding: 20px 0;

    text-align: center;

    color: $gray-medium;
    border-radius: 50px;
    background-color: #ffffff;
    &:hover {
      text-decoration: none;

      color: #ffffff;
      background-color: $gray-medium;
    }
  }
}
section {
  padding: 0;
}
article {
  @extend .clearfix;
}
.article--search {
  margin-bottom: 40px;
  form {
    position: relative;

    height: 56px;
    input[name=search] {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      padding: 10px 150px 10px 10px;

      border: 1px solid #dee0e7;
      border-radius: 0;
      outline: none;
    }
    button {
      font-size: 22px;

      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;

      display: flex;
      flex-direction: row;

      width: 140px;
      height: 46px;
      padding: 0;

      text-align: center;

      color: #ffffff;
      border-radius: 0;
      background-color: $blue;

      align-content: stretch;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      &:hover {
        background-color: $gray-light;
      }
    }
  }
}
.featured-news {
  margin-bottom: 50px;
  .featured-news--nav {
    li {
      position: relative;

      display: flex;
      flex-direction: row;

      padding: 10px 10px 10px 50px;

      align-content: stretch;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      &:before {
        position: absolute;
        top: 50%;
        left: 0;

        width: 35px;
        height: 35px;
        margin-top: -17px;

        background-repeat: no-repeat;
        background-position: center;

        @extend .dblock;
      }
      a {
        font-size: 24px;
        font-weight: $flight;

        text-decoration: none;

        color: $gray-medium;
      }
      &.featured-news-active {
        a {
          font-weight: $fmed;
        }
      }
      &:hover {
        &:before {
          opacity: .8;
        }
        a {
          color: $gray-dark;
          text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
        }
      }
      &.featured-news-article {
        &:before {
          background-image: url(../img/ico/ico-b-article.png);
        }
      }
      &.featured-news-audio {
        &:before {
          background-image: url(../img/ico/ico-b-audio.png);
        }
      }
      &.featured-news-ajat {
        &:before {
          background-image: url(../img/ico/ico-b-ajat.png);
        }
      }
      &.featured-news-video {
        &:before {
          background-image: url(../img/ico/ico-b-video.png);
        }
      }
      &.featured-news-speak {
        &:before {
          background-image: url(../img/ico/ico-b-speak.png);
        }
      }
      &.featured-news-hadis {
        &:before {
          background-image: url(../img/ico/ico-b-hadis.png);
        }
      }
    }
  }
  .featured-news--all {
    font-size: 17px;
    font-weight: $fmed;
    line-height: 2.3;

    display: block;

    height: 37px;
    padding-left: 120px;

    text-decoration: underline;

    color: $gray-medium;
    background-image: url(../img/ico/featured-news--all.png);
    background-repeat: no-repeat;
    background-position: 70px center;
    &:hover {
      text-decoration: none;

      opacity: .8;
    }
  }
}
.featured-video--descr {
  position: relative;

  overflow: hidden;

  width: 480px;
  height: 270px;
  iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
  }
  .featured-video--title {
    font-size: 32px;
    font-weight: $fmed;

    position: absolute;
    z-index: 5;
    top: 10px;
    left: 10px;

    display: flex;
    flex-direction: row;

    height: 46px;
    padding-left: 50px;

    color: #ffffff;
    background-image: url(../img/ico/featured-video--title.png);
    background-repeat: no-repeat;
    background-position: left center;

    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .featured-video--desshort,
  .featured-video--desfull {
    font-size: 16px;
    font-weight: $flight;

    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 15px 60px 15px 15px;

    cursor: pointer;

    color: #ffffff;
    background-color: $blue;
    background-repeat: no-repeat;
    background-position: 97% center;
  }
  .featured-video--desshort {
    background-image: url(../img/ico/featured-video--desshort.png);
  }
  .featured-video--desfull {
    display: none;

    background-image: url(../img/ico/featured-video--desfull.png);
  }
}
.hardis {
  margin-bottom: 70px;
  .hardis--title {
    display: flex;
    flex-direction: row;

    margin-bottom: 40px;

    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      font-size: 18px;
      font-weight: normal;
      line-height: 2;

      position: relative;

      display: block;

      width: calc(50% - 28px);
      height: 38px;

      cursor: pointer;
      text-align: center;

      color: #4a4e5a;
      border: 1px solid transparent;
      &:before {
        position: absolute;
        z-index: 2;
        top: -1px;
        bottom: -1px;

        display: none;

        width: 26px;

        content: '';

        background-repeat: no-repeat;
      }
      &:first-child {
        border-right: 0;
        &:before {
          right: -27px;

          background-image: url(../img/hardis--title-l.png);
        }
      }
      &:last-child {
        border-left: 0;
        &:before {
          left: -27px;

          background-image: url(../img/hardis--title-r.png);
        }
      }
      &.hardis--title-a {
        font-weight: $fmed;

        display: block;

        cursor: default;

        color: $blue;
        border: 1px solid #e8e9ee;
        &:first-child {
          border-right: 0;
        }
        &:last-child {
          border-left: 0;
        }
        &:before {
          display: block;
        }
      }
    }
  }
  .hardis-content {
    .hardis-content--item {
      display: none;

      @extend .clearfix;
      .hardis-numbers {
        position: relative;

        float: left;

        width: 112px;
        height: 122px;
        .hardis--bignumber,
        .hardis--rednumber {
          position: absolute;

          display: flex;
          flex-direction: row;

          text-align: center;

          border-radius: 50%;

          align-content: stretch;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
        }
        .hardis--bignumber {
          font-size: 52px;
          font-weight: $flight;

          z-index: 1;
          top: 0;
          left: 5px;

          width: 80px;
          height: 80px;

          color: $gray-medium;
          border: 1px solid $gray-medium;
        }
        .hardis--rednumber {
          font-size: 28px;
          font-weight: $fmed;

          z-index: 2;
          top: 60px;
          left: 45px;

          width: 50px;
          height: 50px;

          color: #ffffff;
          border: 5px solid #ffffff;
          background-color: $red;
        }
      }
      p {
        text-align: justify;
      }
      .hardis--more {
        font-weight: $fmed;

        display: block;
        float: left;

        width: 100%;

        text-align: right;
        text-decoration: underline;

        color: $gray-dark;
        &:hover {
          text-decoration: none;
        }
      }
      &.hardis-content--item-a {
        display: block;
      }
    }
  }
}
.looper {
  @extend .clearfix;
}
.sheldure {
  .sheldure--heading {
    font-size: 32px;
    color: $blue;
    margin-bottom: 35px;
  }
}
.popular-content {
  display: flex;
  flex-direction: row;

  align-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  > div {
    &:nth-child(2) {
      padding-right: 10px;
    }
    &:nth-child(3) {
      padding-left: 10px;
    }
  }
  .popular-content--heading {
    font-size: 32px;
    font-weight: normal;

    width: 100%;
    margin-bottom: 26px;
  }
  .popular-content--item {
    display: inline-block;

    width: 50%;
    margin-bottom: 40px;
    padding: 0 15px 0 0;
    .popular-content--img {
      display: block;

      margin-bottom: 15px;
      &:hover {
        opacity: .8;
      }
      img {
        max-width: 100%;

        border-radius: 2px;
      }
    }
    .popular-content--title {
      font-weight: $fmed;

      position: relative;

      display: flex;
      flex-direction: row;

      min-height: 50px;
      margin-bottom: 16px;
      padding-left: 60px;

      align-content: stretch;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      span {
        position: absolute;
        top: 50%;
        left: 0;

        display: block;

        width: 50px;
        height: 50px;
        margin-top: -25px;

        text-align: center;

        background-color: $red;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.pop-cat-article {
        span {
          background-image: url(../img/ico/pop-cat-article.png);
        }
      }
      &.pop-cat-video {
        span {
          background-image: url(../img/ico/pop-cat-video.png);
        }
      }
    }
    p {
      font-size: 16px;
      font-weight: $flight;
    }
  }
  .popular-tags {
    font-weight: 100%;
    .popular-tags--title {
      font-size: 18px;
      font-weight: $fmed;

      display: block;

      margin-bottom: 30px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;

        margin: 0 2px 5px 0;
        a {
          font-size: 16px;

          display: block;

          padding: 6px;

          text-decoration: none;

          color: $gray-medium;
          border-radius: 2px;
          background-color: #dee0e7;
          &:hover {
            color: #ffffff;
            background-color: $gray-medium;
          }
        }
      }
    }
  }
}
.steelers-content {
  .steelers-rothlisberger {
    display: block;

    margin-bottom: 20px;
    &:hover {
      opacity: .8;
    }
    img {
      max-width: 100%;
    }
  }
  iframe {
    display: block;

    margin-bottom: 20px;
  }
  .steelers-socials {
    .steelers-socials--title {
      font-size: 18px;
      font-weight: $fmed;

      display: block;

      margin: 0 0 10px;
    }
  }
  .steelers-socials--list {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
      font-weight: 45;

      width: 45px;
      height: 45px;
      margin: 0 4px 0 0;

      text-align: center;

      border-radius: 50%;
      a {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 100%;

        align-content: stretch;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }
      &:hover {
        opacity: .8;
        a {
          text-decoration: none;
        }
      }
      &.steelers-socials--fb {
        background-color: #475a96;
      }
      &.steelers-socials--vk {
        background-color: #7795c4;
      }
      &.steelers-socials--tw {
        background-color: #33a0df;
      }
      &.steelers-socials--yt {
        background-color: #ef3030;
      }
      &.steelers-socials--ins {
        background-color: #ce874d;
      }
      i {
        font-size: 25px;

        color: #ffffff;
      }
    }
  }
}
.prefooter--title,
.prefooter--list {
  padding-top: 70px;
  padding-bottom: 50px;
}
.prefooter--title {
  font-size: 32px;
  span {
    font-weight: $fmed;
  }
}
.prefooter--list {
  img {
    max-width: 100%;
  }
}
footer {
  font-size: 16px;

  height: $footer;
  padding-top: 60px;

  border-top: 1px solid $blue;
  .footer-logo {
    img {
      max-width: 100%;
    }
  }
  .copyright {
    p {
      margin-bottom: 20px;
      span {
        font-weight: $fmed;
      }
    }
  }
  .footer-contacts {
    text-align: right;
    h5 {
      font-size: 16px;
      font-weight: $fmed;

      margin-bottom: 20px;
    }
    ul {
      li {
        margin-bottom: 3px;
        a {
          font-weight: $fmed;

          text-decoration: none;

          color: $gray-medium;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/myriadsetpro';
@import 'fonts/linearicons';
@import 'fonts/hinted-Linearicons';
@import 'base64';
@import 'import/print';

@media (max-width: 1198px) {
  .popular-content .popular-content--item {
    width: 100%;
  }
  .popular-content .popular-content--item .popular-content--img img {
    width: 100%;
  }
  .hardis .hardis--title span {
    font-size: 14px;
    line-height: 2.8;
  }
  .hardis .hardis-content .hardis-content--item .hardis-numbers {
    width: 100%;
    height: 90px;
  }
  .hardis .hardis-content .hardis-content--item .hardis-numbers .hardis--rednumber {
    top: 20px;
    left: 75px;
  }
  .featured-video--descr .featured-video--title {
    font-size: 22px;

    padding: 0;

    background: none;
  }
  .featured-video--descr {
    width: 100%;
    height: 214px;
    iframe {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 991px) {
.featured-video--descr {
  width: 100%;
  height: auto;
  iframe {
    position: relative;
    min-height: 380px;
  }
}
}
